*,
*::before,
*::after {
   user-select: none;
   -webkit-user-select: none;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(14, 14, 14);
    color: whitesmoke;

    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.main {
    width: 50%;
    margin: 100px auto 0 auto;
    min-width: 300px;
}

/* div.input-group {
    display: flex;
} */

div.list-group {
    height: 80%;
    align-items: stretch;
    align-content: center;
}

div#taskList {
    max-width: 75%;
    min-width: 25%;
}

input#taskInput {
    min-width: 50%
}

div#task {
    text-align: center;
    line-height: 80px;
    min-height: 80px;
    background-color: rgb(25, 25, 25);
}